@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);

html {
	height: 100%;
}
body{
	height: 100%;
	margin: 0;
	font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
	background: #fff3e0;
}
.menu{
	height: 90%;
	padding: 10px 20px 0 20px;
	}
.menu a{margin-top:10px;}
.menu ul{
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
	width: 100%;
	font-size: 1em;
	font-weight: bold;
}
li {
	list-style-type : none;
	margin: 0;
	padding: 20px 20px;
	flex-grow: 1;
}

li h2.menu-date {
	margin: 0;
	font-size: 1.2em;
}

#top{
	color: #ffffff;
	background: #93c2b2;
	text-align:center;
}
li.active {
	flex-grow: 5;
}
li.active div.menu {
	padding: 0 15px;
}
li#day0 {
	color: #90a4ae;
	background: #fff3e0;
}
li#day1 {
	border-top: solid 1px #cfd8dc;
	color: #90a4ae;
	background: #fff3e0;
}
li#day2 {
	border-top: solid 1px #cfd8dc;
	color: #90a4ae;
	background: #fff3e0;
}
li#day3 {
	border-top: solid 1px #cfd8dc;
	color: #90a4ae;
	background: #fff3e0;
}
li#day4 {
	border-top: solid 1px #cfd8dc;
	color: #90a4ae;
	background: #fff3e0;
}
li#day5 {
	border-top: solid 1px #cfd8dc;
	color: #90a4ae;
	background: #fff3e0;
}

li#day6 {
	border-top: solid 1px #cfd8dc;
	color: #90a4ae;
	background: #fff3e0;
}
